{% extends 'base.html' %}

{% block title %}
To-To List App - Alpine
{% endblock %}

{% block content %}

<div class="mx-4 md:mx-32 my-16 bg-white shadow p-8 px-8 rounded-sm">
    <h2 class="text-green-500 font-black text-2xl uppercase text-center">{{ request.user.username }}'s Lists</h2>
    <form id="list-form">
        {% csrf_token %}
    </form>
    <div class="flex justify-end mt-4">
        <div class="rounded-md border shadow p-2 flex-1 inline-flex">
            <input class="mr-2 w-5/6" type="text" placeholder="new list">
            <button type="button" class="w-1/6 border px-2 py-1 font-mono text-sm bg-green-400 hover:bg-green-500 active:bg-green-700 text-gray-100">Add List</button>
        </div>
    </div>

    <ul class="mt-4">
        {% for list in lists %}
        <li class="bg-gray-100 border border-gray-300 rounded-md shadow-sm p-2 px-4 my-2 flex justify-between">
            <a href="{% url 'lists:detail' list.id %}" class="border border-gray-100 text-green-800 font-mono px-2 py-1 hover:text-green-500">{{ list.title }}</a>
            <button class="border px-2 py-1 font-mono text-sm bg-red-400 hover:bg-red-500 text-gray-100">Delete List</button>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}