<div class="mx-4 md:mx-32 my-16 bg-white shadow p-8 px-8 rounded-sm">
    <h2 class="text-green-500 font-black text-2xl uppercase text-center">{{ parent_list.title }}'s ToDos</h2>
    <div class="flex justify-end mt-4">
        <div class="rounded-md border shadow p-2 flex-1 inline-flex">
            <input type="hidden" name="parent_list" value="{{ list.id }}"/>
            <input type="text" class="mr-2 w-5/6" unicorn:model.defer="title" placeholder="new task">
            <input type="button" unicorn:click="add_task" class="w-1/6 border px-2 py-1 font-mono text-sm bg-green-400 hover:bg-green-500 active:bg-green-700 text-gray-100" value="Add Task" />
        </div>
    </div>

    <ul id="tasks">
        {% for task in parent_list.tasks.all %}
            <li id="task_{{task.id}}" class="bg-gray-100 border border-gray-300 rounded-md shadow-sm p-2 px-4 my-2 flex justify-between font-mono">
                <div class="flex justify-start">
                    <a unicorn:click="delete({{ task.id }})" class="mr-2">
                        <svg class="h-5 text-gray-500 hover:text-red-500" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                        </svg>
                    </a>
                    <p class="text-gray-800" >{{task.title}}</p>
                </div>
                {% if task.completed %}
                <a unicorn:click="toggle_complete({{task.id}})" class="text-green-500 hover:text-gray-500 cursor-pointer">Completed</a>
                {% else %}
                <a unicorn:click="toggle_complete({{task.id}})" class="text-gray-500 hover:text-green-500 cursor-pointer">Not Completed</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
