<turbo-stream action="append" target="lists">
    <template>
        <turbo-frame id="list_{{ id }}">
            <div class="bg-gray-100 border border-gray-300 rounded-md shadow-sm p-2 px-4 my-2 flex justify-between">
                <a href="{% url 'lists:detail' id %}" class="border border-gray-100 text-green-800 font-mono px-2 py-1 hover:text-green-500" data-turbo="false">{{ title }}</a>
                <a data-turbo-method="delete" href="{% url 'api:lists-list' %}{{ id }}/"
                    class="border px-2 py-1 font-mono text-sm bg-red-400 hover:bg-red-500 text-gray-100">Delete List</a>
            </div>
        </turbo-frame>
    </template>
</turbo-stream>
